html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    margin: auto;
    width: 35%;
    padding: 1.5em;
    border: 3px solid rgba(175, 216, 241, 0.744);
    border-bottom-width: 1.5px;
    border-radius: 20px 20px 0 0;
}
a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
a:visited {
    color: inherit;
}
input {
    width: 50%;
}
form {
    margin: 1em;
}
#form-ul {
    list-style: none;
}
#form-ul li{
    padding: 2%;
}
.container{
    padding: 16px;
    width: 35%;
    text-align: left;
    margin: auto;
    border: 3px solid rgba(175, 216, 241, 0.744);
    border-top-width: 1.5px;
    border-radius: 0 0 20px 20px;
}