body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
a:visited {
    color: inherit;
}
a:hover {
    /* TODO: add window on hover for password requirements */
}
input {
    width: 50%;
}
#form-ul {
    list-style: none;
}
#form-ul li{
    padding: 2%;
}
.container{
    padding: 16px;
    width: 35%;
    text-align: left;
    margin: auto;
    border: 3px solid rgba(175, 216, 241, 0.744);
    border-radius: 20px;
}